/**
 * collapsibleSidebar
 *
 * Author(s):
 * - AnYi
 *
 * Rewrite by WaitSpring
 */

/* General Rules */

@media print {
	#sidebarButton {
		display: none !important;
	}
}

@media screen {
	#sidebarButton {
		position: fixed;
		right: 8px;
		width: 32px;
		height: 32px;
		cursor: pointer;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
}

/* Rules for Vector Legacy */
.skin-vector:not( .skin-vector-2022 ) {
	#sliderCollapseLogo {
		position: absolute;
		top: 3em;
		display: none;
		width: 7em;
		cursor: pointer;
	}
}

.client-collapsedsidebar {
	.skin-vector:not( .skin-vector-2022 ) {
		#mw-panel {
			display: none;
		}

		#sliderCollapseLogo {
			top: 0.5em;
			left: 1em;
			display: block;
		}

		#content,
		#footer,
		#left-navigation {
			margin-left: 1em;
		}
	}
}

@media screen {
	.skin-vector {
		#sidebarCollapse {
			position: fixed;
			top: 5.625em;
			width: 0.8em;
			padding: 0.3em;
			border: 1px solid #a7d7f9;
			border-radius: 50px;
			background: #fff;
			cursor: pointer;
			-moz-user-select: none;
			-webkit-user-select: none;
			user-select: none;
		}
	}
}

@media screen and ( max-width: 768px ) {
	#sidebarButton {
		display: none !important;
	}
}

/* Rules for Gongbi and Timeless */

@media screen and ( min-width: 768px ) {
	.client-collapsedsidebar {
		.skin-gongbi,
		.skin-timeless {
			#mw-related-navigation,
			#mw-site-navigation {
				display: none;
			}

			#mw-content {
				border-left: 0 !important;
				margin-left: 0 !important;
			}
		}
	}
}

/* Rules for Write */
@media screen and ( min-width: 768px ) {
	.client-collapsedsidebar {
		.skin-write {
			#mw-navigation {
				display: none;
			}

			.col-12 {
				margin: auto;
			}
		}
	}
}

/* Rules for Citizen */
@media screen and ( min-width: 768px ) {
	.client-collapsedsidebar {
		--width-layout: var( --width-layout--extended );
	}
}
