/**
 * Collapsible Sidebar
 * Authors:
 * - AnYiEE
 * - WaitSpring
 */

/* General code */

@media print {
	#sidebarButton {
		display: none !important;
	}
}

/* Code for Vector Legacy */
.skin-vector #sliderCollapseLogo {
	position: absolute;
	top: 3em;
	width: 7em;
	cursor: pointer;
}

@media screen {
	.skin-vector {
		#sidebarButton {
			position: fixed;
			right: 8px;
			width: 32px;
			height: 32px;
			cursor: pointer;
			-ms-user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			user-select: none;
		}

		#sidebarCollapse {
			position: fixed;
			top: 5.625em;
			width: 0.8em;
			padding: 0.3em;
			border: 1px solid #a7d7f9;
			border-radius: 50px;
			background: #fff;
			cursor: pointer;
			-moz-user-select: none;
			-webkit-user-select: none;
			user-select: none;
		}

		#sliderCollapseLogo {
			display: none;
		}

		&.client-collapsedsidebar {
			#content,
			#footer {
				margin-left: 1em !important;
			}

			#left-navigation {
				margin-left: 10em !important;
			}

			#mw-panel {
				display: none;
			}

			#sliderCollapseLogo {
				display: block;
			}
		}
	}
}

/* Code for Gongbi and Timeless */

@media screen and ( min-width: 768px ) {
	.skin-gongbi,
	.skin-timeless {
		&.client-collapsedsidebar {
			#mw-related-navigation,
			#mw-site-navigation {
				display: none;
			}

			#mw-content {
				border-left: 0 !important;
				margin-left: 0 !important;
			}
		}
	}
}

@media screen and ( max-width: 768px ) {
	.skin-gongbi,
	.skin-timeless {
		#sidebarButton {
			display: none !important;
		}
	}
}
